* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    justify-content: center;
    text-align: center;

}

.coke {
    width: 450px;
    height: 450px;
    margin: 100px auto;
    background: #F40009;
    color: white;
    border-radius: 50%;
    transition-duration: 1000ms;
}

/* 
.coke:hover {
    width: 800px;
    border-radius: 15%;
} */

.coke-text {
    text-align: left;
    font-size: 1.55rem;
    z-index: 1;
    width: 550px;
}

.coke-text h1 {
    font-size: 3.2rem;
    line-height: 2.2;
}

.can {
    position: relative;
    bottom: 250px;
    right: 50px;
    max-height: auto;
    max-width: 550px;
    z-index: 5;
    transition-duration: 1000ms;
}

.disclaimer {
    position: fixed;
    bottom: 15px;
    right: 50px;
    font-weight: bolder;
}